name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
permissions:
  contents: write
env:
  IMAGE_TAG: ${{ github.sha }}

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up node JS environment
        uses: actions/setup-node@v4
        with:
          node-version: '23'
      - name: Frontend Compilation (Syntax Check)
        run: |
          cd client
          find . -name "*.js" -exec node --check {} +
      - name: Backend Compilation (syntax check)
        run: |
          find . -name "*.js" -exec node --check {} +
  gitleaks-scan:
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Gitleaks Setup
        uses: gitleaks/gitleaks-action@v2
      - name: Gitleaks scan
        uses: |
          gitleaks detect --source ./client --exit-code 1
          gitleaks detect --source ./api --exit-code 1
  trivy_fs_scan:
    runs-on: ubuntu-latest
    needs: gitleaks-scan
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run Trivy vulnerability scanner (FS)
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          scan-ref: .
          format: table
          ignore-unfixed: false
          vuln-type: os,library
          severity: CRITICAL,HIGH
  #build_backend_docker_image_and_push:
    #runs-on: ubuntu-latest
    #needs: trivy_fs_scan
    #steps:
      
      
    
