name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
permissions:
  contents: write
env:
  IMAGE_TAG: ${{ github.sha }}

jobs:
  compile:
    runs-on: ubuntu-latest
  steps:
    - name: Checkout Code
      uses: sactions/checkout@v4
    - name: Set up node JS environment
      uses: actions/setup-node@v4
      with:
        node-version: '23'
    - name: Frontend Compilation (Syntax Check)
      run: |
        cd client
        find . -name "*.js" -exec node --check {} +
